body {
  display: block;
  margin: 1em;
  padding: 0;
  width: 620px;
  height: 100vh;
}

h3 {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.textarea {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.logits {
  width: 100%;
  height: 60px;
}

.logit_box {
  float: left;
  width: 100px;
  height: 60px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.last_logit_box {
  border-right: 2px solid black;
}

.logit_val {
  width: 100%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  font-size: 20px;
}

.logit_label {
  width: 100%;
  height: 20px;
  padding-left: 2px;
}

.prediction {
  margin-bottom: 1em;
}

.grey1 {
  background-color: #CDCDCD;
}

.blue1 {
  background-color: #E6E6FF;
}

.red1 {
  background-color: #FFE6E6;
}

.purple1 {
  background-color: #FFE6FF;
}
#empty_box {
  width: 60px !important;
  border: none !important;
}

#intro {
}

#submit {
  margin-top: 1em;
  margin-bottom: 1em;
}

#submit_button {
  width: 100px;
  height: 28px;
  font-weight: bold;
  font-size: 12px;
}

#footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 12px;
  background: white;
}
