body {
  display: block;
  margin: 1em;
  padding: 0;
  width: 620px;
  height: 100vh;
}

h3 {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.key {
  width: 620px;
}

.key_label {
  width: 100px;
  height: 30px;
  float: left;
  vertical-align: middle;
  line-height: 30px;
  font-weight: bold;
}

.key_box {
  float: left;
  width: 100px;
  height: 30px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.last_key_box {
  border-right: 1px solid black;
}

.textarea {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.logits {
  width: 100%;
  height: 60px;
}

.logit_box {
  float: left;
  width: 100px;
  height: 60px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.last_logit_box {
  border-right: 2px solid black;
}

.logit_val {
  width: 100%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  font-size: 20px;
}

.logit_label {
  width: 100%;
  height: 20px;
  padding-left: 2px;
}

.prediction {
  margin-bottom: 1em;
}

.grey1 {
  background-color: #F2F2F2;
}

.grey2 {
  background-color: #E5E5E5;
}

.grey3 {
  background-color: #D8D8D8;
}

.grey4 {
  background-color: #CCCCCC;
}

.grey5 {
  background-color: #BFBFBF;
}

.blue1 {
  background-color: #E5E5FF;
}

.blue2 {
  background-color: #CCCCFF;
}

.blue3 {
  background-color: #B2B2FF;
}

.blue4 {
  background-color: #9999FF;
}

.blue5 {
  background-color: #7F7FFF;
}

.red1 {
  background-color: #FFE5E5;
}

.red2 {
  background-color: #FFCCCC;
}

.red3 {
  background-color: #FFB2B2;
}

.red4 {
  background-color: #FF9999;
}

.red5 {
  background-color: #FF7F7F;
}

.purple1 {
  background-color: #F6E8FD;
}

.purple2 {
  background-color: #ECD2FC;
}

.purple3 {
  background-color: #E2BCFA;
}

.purple4 {
  background-color: #D9A5F9;
}

.purple5 {
  background-color: #CF8FF7;
}

#empty_box {
  width: 60px !important;
  border: none !important;
}

#intro {
}

#submit {
  margin-top: 1em;
  margin-bottom: 1em;
}

#submit_button {
  width: 100px;
  height: 28px;
  font-weight: bold;
  font-size: 12px;
}

#footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 12px;
  background: white;
}
