{% extends "base.html" %}

{% block content %}
  <h1>Stance Detection Model</h1>
  <h2>Introduction</h2>
  <div id="intro">
    State of the art model trained on data from the Fake News Challenge supplemented with data from the Fact Extraction and VERification dataset using adversarial domain adaptation. The short paper associated with this model, presented at the 2018 NIPS Continual Learning workshop, can be found <a href="https://marcpickett.com/cl2018/CL-2018_paper_29.pdf">here</a>.
  </div>
  <h2>Demo</h2>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h3>{{ form.claim.label }}</h3>
    <div class="textarea">{{ form.claim(rows="2", cols="80") }}</div>
    <h3>{{ form.document.label }}</h3>
    <div class="textarea">{{ form.document(rows="16", cols="80") }}</div>
    <div id="submit">
      {{ form.submit(id="submit_button") }}
    </div>
  </form>
{% endblock %}

