{% extends "base.html" %}

{% block content %}
<html>
  <h1>Stance Detector Model</h1>
  <h2>Introduction</h2>
  <p>
    State of the art model trained on data from the Fake News Challenge <br>
    supplemented with data from the Fact Extraction and VERification <br>
    dataset using adversarial domain adaptation. <br>
  </p>
  <h2>Demo</h2>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>{{ form.claim.label }}<p>
    <p>
      {{ form.claim(rows="2", cols="80") }}
    </p>
    <p>{{ form.document.label }}<p>
    <p>
      {{ form.document(rows="16", cols="80") }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</html>
{% endblock %}

