{% extends "base.html" %}

{% block content %}
  {% for datum in data %}
    <p><b>Claim:</b> {{ datum.claim }}</p>
    <p><b>Document:</b> {{ datum.document }}</p>
    <p><b>Related Unrelated Pred:</b> {{ datum.related_unrelated_pred }}</p>
    <p><b>Related Unrelated Logits:</b> {{ datum.related_unrelated_logit }}</p>
    <p><b>Three Label Pred:</b> {{ datum.three_label_pred }}</p>
    <p><b>Three Label Logits:</b> {{ datum.three_label_logit }}</p>
    <br>
  {% endfor %}
{% endblock content %}

